* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

header {
    height: 38px;
    font-family: 'Roboto', sans-serif;
    background-color: #1CD1B0;
    color: black;
    font-size: 15px;

    padding: 10px;
}

h1 {
    height: 101px;
    font-family: 'Roboto', sans-serif;
    background-color: #00669F;
    font-size: 40px;

    padding: 26px;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.caja-perfil1 {
    width: 300px;
    height: 529px;
    background-color: #F3F3F3;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 154px;
    margin-bottom: 151px;

    position: relative;
}

.caja-perfil2 {
    width: 300px;
    height: 529px;
    background-color: #F3F3F3;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 154px;
    margin-bottom: 151px;

    position: relative;
}

.caja-perfil3 {
    width: 300px;
    height: 529px;
    background-color: #F3F3F3;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 154px;
    margin-bottom: 151px;

    position: relative;
}

.fondo-perfil {   
    width: 300px;
    height: 193px;
}

.foto-perfil {
    width: 120px;
    height: 120px;

    position: relative;
    top: -64px;
}

.titulo-perfil{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 30px;
    text-align: center;

    position: absolute;
    top: 280px;
}

.texto-perfil {
    width: 267px;
    height: 113px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333333;
    text-align: left;

    position: relative;
    top: -15px;
}

.heart {
    width: 30px;
    height: 26,25px;

    display: flex;
    justify-content: flex-start;
    align-self: flex-start;

    position: absolute;
    top: 15.88px;
    left: 21px;
}   

button {
    width: 128.78px;
    height: 48.52px;
    font-family: 'Roboto', sans-serif;
    background-color: #00669F;
    color: #F3F3F3;   
    border-radius: 15px;
    text-align: center;

    margin-bottom: 20px;
}

footer {
    height: 51px;
    font-family: 'Roboto', sans-serif;
    background-color: #00669F;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 16px;
}